{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning alert-dismissible mt-2">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="border border-top-0 rounded-bottom p-2 mb-5">
                <form action="{% url 'create_post' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control border border-0 p-3" name="post" id="post_textarea" placeholder="What's happening?!" cols="100" rows="2"></textarea>
                    <div class="d-flex justify-content-start">
                        <input class="btn btn-primary mt-2 ms-2" type="submit" value="Post">
                    </div>
                </form>
            </div>
        {% endif %}

        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">{{ post.timestamp }}</div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ post.content }}</p>
                    <footer class="d-flex flex-row blockquote-footer mt-2">
                        Posted by:{{ "&nbsp;" }}
                        <cite title="Source Title">
                            <a href="{% url "user_profile" post.user.id %}">
                                {{ post.user }}
                            </a>
                        </cite>
                        <div class="link link-danger ms-3" id="like_post">
                            {% if post.likes == 1 %}
                                {{ post.likes }} like
                            {% else %}
                                {{ post.likes }} likes
                            {% endif %}
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock body %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock script %}